.Subreddits {
    background-color: rgb(225,225,235);
    margin-right: 10px;
    /* border: 1px solid rgb(160,160,160); */
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.button {
    background-color: rgb(225,225,235);
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(195,195,205);
}

.selected {
    background-color: rgb(253, 156, 121);
    border: none;
}

.header {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 20px;
}