.Post {
    margin-bottom: 30px;
}

.postNoComments {
    display: flex;
    align-items: center;
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgb(225,225,235);
    margin-bottom: 2px;
    
}

.voteContainer {
    position: relative;
    left: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
}

.votes {
    position: relative;
    font-weight: 600;
    color: rgb(80,80,80);
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border: none;
    background-color: rgb(225,225,235);
    color: rgb(80,80,80);
    font-size: 1.25rem;
}

.up:hover {
    cursor: pointer;
    color: rgb(0,200,70);
}

.downSelected {
    position: relative;
    top: 4px;
    color: rgb(240,0,40);
}

.upSelected {
    color: rgb(0,200,70);
}

.down {
    position: relative;
    top: 4px;
}

.down:hover {
    cursor: pointer;
    color: rgb(240,0,40);
}

.postBody {
    position: relative;
    left: 60px;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    color: rgb(80,80,80);
    min-width: 250px;
}

.footItem {
    margin-left: 60px;
}

.commentIcon {
    font-size: 1.5rem;
    color: rgb(80,80,80);
}

.commentButton {
    padding: 0px;
    background: none;
    border: none;
}

.commentButton:hover {
    cursor: pointer;
}